extends ../layout

block content
	h1= title
	include tools
	if (totalFiles > 0)
		ul(class="list-group")
			div(class="container-fluid media-gallery")
				each file in files
					div(class="col-md-3 col-xs-12 col img-thumbnail media-frame")
						div(class="media-preview")
							a(href="/galleria/media/?id=#{file.file}")
								if (file.filetype == 'image')
									img(src="/galleria/uploads/#{file.filename}" class="img-responsive img-gallery-preview" alt="#{file.name}")
								if (file.filetype == 'video')
									div(class="text-center")
										i(class="fa fa-video-camera media-gallery-icon" aria-hidden="true")
								if (file.filetype == 'audio')
									div(class="text-center")
										i(class="fa fa-music media-gallery-icon" aria-hidden="true")
						p(class="media-name") #{file.name}
			include pagination
	else
		ul(class="list-group")
			div(class="container-fluid media-gallery")
				p Kokeile muita hakuehtoja